*{
    box-sizing: border-box;    
}

body {
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-color: rgb(56, 54, 54) ;
    color: white;
}

h1{
    font-size: 200%;
    font-weight: 400;
}

#search-button {
    width: 100%;
}

li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}